<%# ================= profile ユーザー詳細ページ =============== %>
<div class="col-md-8 border-profile">
  <div class="d-flex">
    <div>
      <%= link_to "/" do %>
        <i class="fa-solid fa-arrow-left arrow-left "></i>
      <% end %>
    </div>
    <div class="profile-top-name">
      <h2><%= current_user.name %></h2>
      <p>320 posts</p>
    </div>
  </div>
  <div class="profile-images">
    <%= image_tag current_user.profile.header, class: "header-img", alt: "..." %>
    <%= image_tag current_user.profile.icon, class: "profile-img me-3", alt: "..." %>


    <% if current_user %>
      <%= link_to "Edit profile", edit_profile_path(@profile) , class: "edit" %>
    <% end %>
  </div>
  <div class="profile-info">
    <h2><%= current_user.name %></h2>
    <p>@<%= current_user.profile.username %></p>
    <% if current_user.profile.self_introduction.present? %>
      <p><%= current_user.profile.self_introduction %></p>
    <% else %>
      <p class="dammy_self_introduction">(参考例 自己紹介文を登録したら消えます) 千葉県在住。25歳。23/3~8/8まで独学(500h)。23/8/9~HC。英語も学習中。ゴルフ、筋トレ、ランニング、ママさんバレー、料理、ヨガ、瞑想、将棋、カラオケ、登山です。よろしくお願いします！</p>
    <% end %>
    <div class="d-flex">
      <% if current_user.profile.location.present? %>
      <div class="profile-details">
        <i class="fa-solid fa-location-dot profile-icon-link"></i>
        <span><%= current_user.profile.location %></span>
      </div>
      <% end %>
      <% if current_user.profile.website.present? %>
      <div class="profile-details">
        <i class="fa-solid fa-link profile-icon-link"></i>
        <span><%= current_user.profile.website %></span>
      </div>
      <% end %>
      <div class="profile-details">
        <i class="fa-solid fa-cake-candles profile-icon"></i>
        <span><%= current_user.date_of_birth.strftime('%Y年%m月%d日') %></span>
      </div>
    </div>
    <div class="profile-details calender-icon">
      <i class="fa-regular fa-calendar-days profile-icon"></i>
      <span><%= current_user.created_at.strftime('%Y年%m月') %>からColorful SNSを利用しています</span>
    </div>
    <div class="d-flex relationship">
      <div class="follow">
        <p><span>80</span> Following</p>
      </div>
      <div class="follow">
        <p><span>80</span> Followers</p>
      </div>
    </div>
  </div>
  <%# ==========timeline(自分の投稿だけ)====== %>
  <div class="d-flex border p-3">
    <img class="home_img mx-3 me-4" src="/assets/EC1.jpg" >
    <div>
      <span class="fw-bold fs-3 me-2"><%= current_user.name %></span>
      <span>@<%= current_user.profile.username %></span>
      <p>CSS難しいなーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
      <img class="post_img" src="/assets/EC1.jpg" >
      <div class="d-flex justify-content-around home-icon mt-5">
        <div>
          <i class="fa-regular fa-comment"></i>
          <span class="">5</span>
        </div>
        <i class="fa-solid fa-repeat"></i>
        <i class="fa-regular fa-heart"></i>
      </div>
    </div>
  </div>
  <div class="d-flex border p-3">
    <img class="home_img mx-3 me-4" src="/assets/EC1.jpg" >
    <div>
      <span class="fw-bold fs-3 me-2">okuyama</span>
      <span>@okuyama0121</span>
      <p>Happiness Chainはハイレベルです。しんどいけどめちゃくちゃ成長できてる感あります。雑談してくれる友人もできます。将来活躍するだろうなと感じる生徒がたくさんいます。関東にいれば普通にCEOとCTOに会えます。一緒に学習している知り合いができると楽しいですよ！印象としてはプログラミングスクールというよりも実務を見据えた訓練所みたいなところです。みなさんもプログラミングをまず数か月ほど触ってみて楽しいと感じたら入ってみることをお勧めします。</p>
      <div class="d-flex justify-content-around home-icon">
        <i class="fa-regular fa-comment"></i>
        <i class="fa-solid fa-repeat"></i>
        <i class="fa-regular fa-heart"></i>
      </div>
    </div>
  </div>
</div>
