<%# ================= profile ユーザー詳細ページ =============== %>
<div class="col-md-8 border-profile">
  <div class="d-flex">
    <div>
      <%= link_to "/" do %>
        <i class="fa-solid fa-arrow-left arrow-left "></i>
      <% end %>
    </div>
    <div class="profile-top-name">
      <h2><%= @user.name %></h2>
      <p><%= @user.posts.count %> posts</p>
    </div>
  </div>
  <div class="profile-images">
    <% if @user.header.attached? %>
      <%= image_tag @user.header, class: "header-img", alt: "..." %>
    <% else %>
      <img class="header-img" src="/assets/header.jpg" >
    <% end %>

    <% if @user.icon.attached? %>
      <%= image_tag @user.icon, class: "profile-img me-3", alt: "..." %>
    <% else %>
      <img class= "profile-img me-3" src="/assets/icon.png" >
    <% end %>


    <% if @user.id == current_user.id %>
      <%= link_to "Edit profile", edit_user_path(@user) , class: "edit" %>
    <% end %>
  </div>
  <div class="profile-info">
    <h2><%= @user.name %></h2>
    <p>@<%= @user.username %></p>
    <% if @user.self_introduction.present? %>
      <p><%= @user.self_introduction %></p>
    <% else %>
      <p class="dammy_self_introduction">(参考例 自己紹介文を登録したら消えます) 千葉県在住。25歳。23/3~8/8まで独学(500h)。23/8/9~HC。英語も学習中。ゴルフ、筋トレ、ランニング、ママさんバレー、料理、ヨガ、瞑想、将棋、カラオケ、登山です。よろしくお願いします！</p>
    <% end %>
    <div class="d-flex">
      <div class="profile-details">
        <i class="fa-solid fa-location-dot profile-icon-link"></i>
        <span><%= @user.location %></span>
      </div>

      <div class="profile-details">
        <i class="fa-solid fa-link profile-icon-link"></i>
        <span><%= @user.website %></span>
      </div>
      <div class="profile-details">
        <i class="fa-solid fa-cake-candles profile-icon"></i>
        <span><%= @user.date_of_birth.strftime('%Y年%m月%d日') %></span>
      </div>
    </div>
    <div class="profile-details calender-icon">
      <i class="fa-regular fa-calendar-days profile-icon"></i>
      <span><%= @user.created_at.strftime('%Y年%m月') %>からColorful SNSを利用しています</span>
    </div>
    <div class="d-flex relationship">
      <div class="follow">
        <p><span><%= link_to @user.followings.count, followings_user_path(@user), class: "follow-link-count" %></span> Following</p>
      </div>
      <div class="follow">
        <p><span><%= link_to @user.followers.count, followers_user_path(@user), class: "follow-link-count" %></span> Followers</p>
      </div>
    </div>
  </div>

  <%# ツイート、いいね、リツイート、コメントの一覧をそれぞれ表示する %>
  <%# TODO 自分がいいねした投稿のみのデータの配列をeachで回す %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#my_tweets" class="nav-link active" data-bs-toggle="tab">ツイート</a>
    </li>
    <li class="nav-item">
      <a href="#my_likes" class="nav-link" data-bs-toggle="tab">いいね</a>
    </li>
    <li class="nav-item">
      <a href="#my_retweets" class="nav-link" data-bs-toggle="tab">リツイート</a>
    </li>
    <li class="nav-item">
      <a href="#my_comment" class="nav-link" data-bs-toggle="tab">コメント</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="my_tweets" class="tab-pane active">
      <% @posts.each do |post| %>
        <div class="d-flex border p-3">
          <% if @user.icon.attached? %>
            <%= image_tag @user.icon, class: "share_img mx-3 me-4", alt: "..." %>
          <% else %>
            <img class="home_img mx-3 me-4" src="/assets/icon.png" >
          <% end %>
          <div>
            <span class="fw-bold fs-3 me-2"><%= @user.name %></span>
            <span>@<%= @user.username %></span>
            <p><%= post.post_content %></p>
            <img class="post_img" src="/assets/EC1.jpg" >
            <div class="d-flex justify-content-around home-icon mt-5">
              <%= link_to post_path(post.id), class: "post-link" do %>
                <div>
                  <i class="fa-regular fa-comment"></i>
                  <span class="home-icon-span"><%= post.comments.count %></span>
                </div>
              <% end %>
              <% if current_user.reposted?(post.id) %>
                <div class="mr-1">
                  <%= link_to post_repost_path(post, post.reposts.first), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <i class="fa-solid fa-repeat repost-color "></i>
                  <% end %>
                  <span class="home-icon-span"><%= post.reposts.count %></span>
                </div>
              <% else %>
                  <div class="mr-1">
                    <%= link_to post_reposts_path(post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                      <i class="fa-solid fa-repeat no-repost-color "></i>
                    <% end %>
                    <span class="home-icon-span"><%= post.reposts.count %></span>
                  </div>
              <% end %>
              <div>
                <div>
                  <% if current_user.already_liked?(post) %>
                    <%= link_to  post_likes_path(post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                      <i class="fa-regular fa-heart like-color"></i>
                    <% end %>
                    <%# repost_idを指定しなければいけないので引数にrepostを書く %>
                  <% else %>
                    <%= link_to  post_likes_path(post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                      <i class="fa-regular fa-heart no-like-color"></i>
                    <% end %>
                  <% end %>
                  <span class="home-icon-span"><%= post.likes.count %></span>
                </div>
              </div>
              <div>
                <% if current_user.already_bookmark?(post) %>
                  <%= link_to  post_bookmarks_path(post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= post.bookmarks.count %></span>
                    </div>
                <% else %>
                  <%= link_to  post_bookmarks_path(post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark no-like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= post.bookmarks.count %></span>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="paginate-margin">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    </div>
    <%# いいね まとめ %>
    <div id="my_likes" class="tab-pane">
      <% @like_posts.each do |like| %>
        <div class="d-flex border p-3">
          <% if like.post.user.icon.attached? %>
            <%= image_tag like.post.user.icon, class: "home_img mx-3 me-4", alt: "..." %>
          <% else %>
            <img class="home_img mx-3 me-4" src="/assets/EC1.jpg" >
          <% end %>
          <div>
            <%= link_to user_path(like.post.user), class: "text-deco-no" do %>
              <span class="fw-bold fs-3 me-2"><%= like.post.user.name %></span>
            <% end %>
            <span>@<%= like.post.user.username %></span>
            <%= link_to post_path(like.post), class: "text-deco-no" do %>
              <p><%= like.post.post_content %></p>
            <% end %>
            <img class="post_img" src="/assets/EC1.jpg" >

            <%# icon ================ %>
            <div class="d-flex justify-content-around home-icon mt-5">
              <%= link_to post_path(like.post.id), class: "post-link" do %>
              <div class="mr-1">
                <i class="fa-regular fa-comment"></i>
                <span class="home-icon-span"><%= like.post.comments.count %></span>
              </div>
            <% end %>
            <% if current_user.reposted?(like.post.id) %>
              <div class="mr-1">
                <%= link_to post_repost_path(like.post, like.post.reposts.first), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                  <i class="fa-solid fa-repeat repost-color "></i>
                <% end %>
                <span class="home-icon-span"><%= like.post.reposts.count %></span>
              </div>
            <% else %>
               <div class="mr-1">
                  <%= link_to post_reposts_path(like.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <i class="fa-solid fa-repeat no-repost-color "></i>
                  <% end %>
                  <span class="home-icon-span"><%= like.post.reposts.count %></span>
                </div>
            <% end %>

              <div>
                <% if current_user.already_liked?(like.post) %>
                  <%= link_to post_likes_path(like.post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-regular fa-heart like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= like.post.likes.count %></span>
                    </div>

                <% else %>
                  <%= link_to  post_likes_path(like.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-regular fa-heart no-like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= like.post.likes.count %></span>
                    </div>
                <% end %>
              </div>
              <div>
                <% if current_user.already_bookmark?(like.post) %>
                  <%= link_to  post_bookmarks_path(like.post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= like.post.bookmarks.count %></span>
                    </div>
                <% else %>
                  <%= link_to  post_bookmarks_path(like.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark no-like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= like.post.bookmarks.count %></span>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="paginate-margin">
        <%= paginate @like_posts, theme: 'bootstrap-5' %>
      </div>
    </div>
    <%# retweets まとめ %>
    <div id="my_retweets" class="tab-pane">
      <% @repost_posts.each do |repost| %>
        <div class="d-flex border p-3">
          <% if repost.post.user.icon.attached? %>
            <%= image_tag repost.post.user.icon, class: "home_img mx-3 me-4", alt: "..." %>
          <% else %>
            <img class="home_img mx-3 me-4" src="/assets/EC1.jpg" >
          <% end %>
          <div>
            <%= link_to user_path(repost.post.user), class: "text-deco-no" do %>
              <span class="fw-bold fs-3 me-2"><%= repost.post.user.name %></span>
            <% end %>
            <span>@<%= repost.post.user.username %></span>
            <%= link_to post_path(repost.post), class: "text-deco-no" do %>
              <p><%= repost.post.post_content %></p>
            <% end %>
            <% if repost.post.image.attached? %>
              <%= image_tag repost.post.image, class: "post_img", alt: "..." %>
            <% end %>

            <%# icon %>
            <div class="d-flex justify-content-around home-icon mt-5  ">
            <%= link_to post_path(repost.post.id), class: "post-link" do %>
              <div class="mr-1">
                <i class="fa-regular fa-comment"></i>
                <span class="home-icon-span"><%= repost.post.comments.count %></span>
              </div>
            <% end %>
            <% if current_user.reposted?(repost.post.id) %>
              <div class="mr-1">
                <%= link_to post_repost_path(repost.post, repost.post.reposts.first), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                  <i class="fa-solid fa-repeat repost-color "></i>
                <% end %>
                <span class="home-icon-span"><%= repost.post.reposts.count %></span>
              </div>
            <% else %>
               <div class="mr-1">
                  <%= link_to post_reposts_path(repost.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <i class="fa-solid fa-repeat no-repost-color "></i>
                  <% end %>
                  <span class="home-icon-span"><%= repost.post.reposts.count %></span>
                </div>
            <% end %>
            <div>
              <% if current_user.already_liked?(repost.post) %>
                <%= link_to  post_likes_path(repost.post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                  <div class="mr-1">
                    <i class="fa-regular fa-heart like-color"></i>
                <% end %>
                    <span class="home-icon-span"><%= repost.post.likes.count %></span>
                  </div>
              <% else %>
                <%= link_to  post_likes_path(repost.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                  <div class="mr-1">
                    <i class="fa-regular fa-heart no-like-color"></i>
                <% end %>
                    <span class="home-icon-span"><%= repost.post.likes.count %></span>
                  </div>
              <% end %>
            </div>
            <div>
                <% if current_user.already_bookmark?(repost.post) %>
                  <%= link_to  post_bookmarks_path(repost.post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= repost.post.bookmarks.count %></span>
                    </div>
                <% else %>
                  <%= link_to  post_bookmarks_path(repost.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark no-like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= repost.post.bookmarks.count %></span>
                    </div>
                <% end %>
              </div>
          </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="paginate-margin">
      <%= paginate @repost_posts, theme: 'bootstrap-5' %>
    </div>

    <%# commentまとめ %>
    <div id="my_comment" class="tab-pane">
      <% @commnet_posts.each do |comment| %>
        <div class="d-flex border p-3">
          <% if comment.post.user.icon.attached? %>
            <%= image_tag comment.post.user.icon, class: "home_img mx-3 me-4", alt: "..." %>
          <% else %>
            <img class="home_img mx-3 me-4" src="/assets/EC1.jpg" >
          <% end %>
          <div>
            <%= link_to user_path(comment.post.user), class: "text-deco-no" do %>
              <span class="fw-bold fs-3 me-2"><%= comment.post.user.name %></span>
            <% end %>
            <span>@<%= comment.post.user.username %></span>
            <%= link_to post_path(comment.post), class: "text-deco-no" do %>
              <p><%= comment.post.post_content %></p>
            <% end %>
            <% if comment.post.image.attached? %>
              <%= image_tag comment.post.image, class: "post_img", alt: "..." %>
            <% end %>
            <%# icon %>
            <div class="d-flex justify-content-around home-icon mt-5  ">
              <%= link_to post_path(comment.post.id), class: "post-link" do %>
                <div class="mr-1">
                  <i class="fa-regular fa-comment"></i>
                  <span class="home-icon-span"><%= comment.post.comments.count %></span>
                </div>
              <% end %>
              <% if current_user.reposted?(comment.post.id) %>
                <div class="mr-1">
                  <%= link_to post_repost_path(comment.post, comment.post.reposts.first), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <i class="fa-solid fa-repeat repost-color "></i>
                  <% end %>
                  <span class="home-icon-span"><%= comment.post.reposts.count %></span>
                </div>
              <% else %>
                <div class="mr-1">
                    <%= link_to post_reposts_path(comment.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                      <i class="fa-solid fa-repeat no-repost-color "></i>
                    <% end %>
                    <span class="home-icon-span"><%= comment.post.reposts.count %></span>
                  </div>
              <% end %>
              <div>
                <% if current_user.already_liked?(comment.post) %>
                  <%= link_to  post_likes_path(comment.post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-regular fa-heart like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= comment.post.likes.count %></span>
                    </div>
                <% else %>
                  <%= link_to  post_likes_path(comment.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-regular fa-heart no-like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= comment.post.likes.count %></span>
                    </div>
                <% end %>
              </div>
              <div>
                <% if current_user.already_bookmark?(comment.post) %>
                  <%= link_to  post_bookmarks_path(comment.post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= comment.post.bookmarks.count %></span>
                    </div>
                <% else %>
                  <%= link_to  post_bookmarks_path(comment.post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark no-like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= comment.post.bookmarks.count %></span>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="paginate-margin">
        <%= paginate @commnet_posts, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
 <%# tab-content %>
</div>




