<div class="d-flex justify-content-between message-html">
  <h2>Messages</h2>
  <div class="message-header">
    <i class="fa-solid fa-gear left"></i>
    <i class="fa-solid fa-envelope-circle-check"></i>
  </div>
</div>
<div class="search-box">
  <input type="text" placeholder="Search Direct Messages">
  <button type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
<% @another_entries.each do |entry| %>
  <%= link_to room_path(entry.room), class: "text-deco-no" do %>
    <div class="d-flex message-list">
      <%= link_to user_path(entry.user) do %>
        <%= image_tag entry.user.icon, class:"message-img" %>
      <% end %>
      <div class="message-list-item">
        <div class="d-flex">
          <h4><%= entry.user.name %></h4>
          <p>@yamada01</p>
        </div>
        <p class="message-p"><%= Message.find_by(id: entry.room.message_ids.last)&.body %></p>
      </div>
    </div>
  <% end %>
<% end %>
