https://zenn.dev/goldsaya/articles/71758cf3024dc1
<% if current_user %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#osusume" class="nav-link active" data-bs-toggle="tab">おすすめ</a>
    </li>
    <li class="nav-item">
      <a href="#follow" class="nav-link" data-bs-toggle="tab">フォロー中</a>
    </li>
  </ul>
  <%= render "posts/form", post: @post %>

<div class="tab-content">
  <div id="osusume" class="tab-pane active">
    <% @posts.each do |post| %>
        <div class="post-body border p-3">
          <div class="flex-between">
            <div>
              <%# icon %>
              <% if post.user.icon.attached? %>
                <%= link_to user_path(post.user) do %>
                  <%= image_tag post.user.icon, class: "share_img mx-3 me-4", alt: "..." %>
                <% end %>
              <% else %>
                <%= link_to user_path(post.user) do %>
                  <img class="home_img mx-3 me-4" src="/assets/icon.png" >
                <% end %>
              <% end %>
          <%# usernameなど %>
              <span class="fw-bold fs-3 me-2"><%= post.user.name %></span>
              <span>@<%= post.user.username %></span>
            </div>
            <div>
              <% if current_user.id != post.user.id %>
                <% if post.user.is_followed_by?(current_user) %>
                  <%= link_to user_relationships_path(post.user), data: { "turbo-method": :delete }, class: "follow-link-delete" do %>
                    <%= post.user.name %>をフォロー解除
                  <% end %>
                <% else %>
                  <%= link_to user_relationships_path(post.user), data: { "turbo-method": :post }, class: "follow-link" do %>
                    <%= post.user.name %>をフォロー
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="margin-left">
            <%= link_to post_path(post.id), class: "post-link" do %>
              <p><%= post.post_content %></p>
            <% end %>
            <% if post.image.attached? %>
              <%= image_tag post.image, class: "post_img" %>
            <% end %>

            <div class="d-flex justify-content-around home-icon mt-5  ">
              <%= link_to post_path(post.id), class: "post-link" do %>
                <div class="mr-1">
                  <i class="fa-regular fa-comment"></i>
                  <span class="home-icon-span"><%= post.comments.count %></span>
                </div>
              <% end %>
              <% if current_user.reposted?(post.id) %>
                <div class="mr-1">
                  <%= link_to post_repost_path(post, post.reposts.first), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <i class="fa-solid fa-repeat repost-color "></i>
                  <% end %>
                  <span class="home-icon-span"><%= post.reposts.count %></span>
                </div>
              <% else %>
                  <div class="mr-1">
                    <%= link_to post_reposts_path(post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                      <i class="fa-solid fa-repeat no-repost-color "></i>
                    <% end %>
                    <span class="home-icon-span"><%= post.reposts.count %></span>
                  </div>
              <% end %>
              <div>
                <% if current_user.already_liked?(post) %>
                  <%= link_to  post_likes_path(post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-regular fa-heart like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= post.likes.count %></span>
                    </div>
                <% else %>
                  <%= link_to  post_likes_path(post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-regular fa-heart no-like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= post.likes.count %></span>
                    </div>
                <% end %>
              </div>
              <div>
                <% if current_user.already_bookmark?(post) %>
                  <%= link_to  post_bookmarks_path(post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= post.bookmarks.count %></span>
                    </div>
                <% else %>
                  <%= link_to  post_bookmarks_path(post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                    <div class="mr-1">
                      <i class="fa-solid fa-bookmark no-like-color"></i>
                  <% end %>
                      <span class="home-icon-span"><%= post.bookmarks.count %></span>
                    </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>
        <%# 投稿のborderのなか %>
    <% end %>
    <div class="paginate-margin">
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
  <%# <div id="osusume" class="tab-pane active"> %>

  <%# 自分がフォローしている人のみの投稿一覧を作成 %>
  <div id="follow" class="tab-pane">
    <% if current_user %>
      <% @following_posts.each do |post| %>
          <div class="post-body border p-3">
            <div class="flex-between">
              <div>
                <%# icon %>
                <% if post.user.icon.attached? %>
                  <%= link_to user_path(post.user) do %>
                    <%= image_tag post.user.icon, class: "share_img mx-3 me-4", alt: "..." %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(post.user) do %>
                    <img class="home_img mx-3 me-4" src="/assets/icon.png" >
                  <% end %>
                <% end %>
            <%# usernameなど %>
                <span class="fw-bold fs-3 me-2"><%= post.user.name %></span>
                <span>@<%= post.user.username %></span>
              </div>
              <div>
                <% if current_user.id != post.user.id %>
                  <% if post.user.is_followed_by?(current_user) %>
                    <%= link_to user_relationships_path(post.user), data: { "turbo-method": :delete }, class: "follow-link-delete" do %>
                      <%= post.user.name %>をフォロー解除
                    <% end %>
                  <% else %>
                    <%= link_to user_relationships_path(post.user), data: { "turbo-method": :post }, class: "follow-link" do %>
                      <%= post.user.name %>をフォロー
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="margin-left">
              <%= link_to post_path(post.id), class: "post-link" do %>
                <p><%= post.post_content %></p>
              <% end %>
              <% if post.image.attached? %>
                <%= image_tag post.image, class: "post_img" %>
              <% end %>

              <div class="d-flex justify-content-around home-icon mt-5  ">
                <%= link_to post_path(post.id), class: "post-link" do %>
                  <div class="mr-1">
                    <i class="fa-regular fa-comment"></i>
                    <span class="home-icon-span"><%= post.comments.count %></span>
                  </div>
                <% end %>
                <% if current_user.reposted?(post.id) %>
                  <div class="mr-1">
                    <%= link_to post_repost_path(post, post.reposts.first), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                      <i class="fa-solid fa-repeat repost-color "></i>
                    <% end %>
                    <span class="home-icon-span"><%= post.reposts.count %></span>
                  </div>
                <% else %>
                    <div class="mr-1">
                      <%= link_to post_reposts_path(post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                        <i class="fa-solid fa-repeat no-repost-color "></i>
                      <% end %>
                      <span class="home-icon-span"><%= post.reposts.count %></span>
                    </div>
                <% end %>
                <div>
                  <% if current_user.already_liked?(post) %>
                    <%= link_to  post_likes_path(post), data: { "turbo-method": :delete }, class: "text-deco-no" do %>
                      <div class="mr-1">
                        <i class="fa-regular fa-heart like-color"></i>
                    <% end %>
                        <span class="home-icon-span"><%= post.likes.count %></span>
                      </div>
                  <% else %>
                    <%= link_to  post_likes_path(post), data: { "turbo-method": :post }, class: "text-deco-no" do %>
                      <div class="mr-1">
                        <i class="fa-regular fa-heart no-like-color"></i>
                    <% end %>
                        <span class="home-icon-span"><%= post.likes.count %></span>
                      </div>
                  <% end %>
                </div>
                <div>
                  <i class="fa-solid fa-bookmark"></i>
                  <span class="home-icon-span">3</span>
                </div>
              </div>
            </div>

          </div>
          <%# 投稿のborderのなか %>

      <% end %>

      <div class="paginate-margin">
        <%= paginate @following_posts, theme: 'bootstrap-5' %>
      </div>
    <% end %>
  </div>
</div>
 <%# tab-content %>

<% else  %>
  <div class="post-index-sub">
    <% @posts.each do |post| %>
      <div class="post-body d-flex border-sub p-3">
        <% if post.user.icon.attached? %>
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.icon, class: "share_img mx-3 me-4", alt: "..." %>
          <% end %>
        <% else %>
          <%= link_to user_path(post.user) do %>
            <img class="home_img mx-3 me-4" src="/assets/icon.png" >
          <% end %>
        <% end %>
        <div>
          <span class="fw-bold fs-3 me-2"><%= post.user.name %></span>
          <span>@<%= post.user.username %></span>
          <%= link_to post_path(post.id), class: "post-link" do %>
            <p><%= post.post_content %></p>
          <% end %>
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "post_img" %>
          <% end %>
          <%# <img class="post_img" src="/assets/EC1.jpg" > %>

          <div class="d-flex justify-content-around home-icon mt-5">
            <div class="mr-1">
              <i class="fa-regular fa-comment"></i>
              <span class="home-icon-span"><%= post.comments.count %></span>
            </div>
            <div class="mr-1">
              <i class="fa-solid fa-repeat"></i>
              <span class="home-icon-span"><%= post.reposts.count %></span>
            </div>
            <div class="mr-1">
              <i class="fa-regular fa-heart"></i>
              <span class="home-icon-span"><%= post.likes.count %></span>
            </div>
            <div>
              <i class="fa-solid fa-bookmark"></i>
              <span class="home-icon-span"><%= post.bookmarks.count %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# post-index-sub %>
<% end %>


