<div class="d-flex border p-3">
  <% if @post.user.icon.attached? %>
    <%= link_to user_path(@post.user) do %>
      <%= image_tag @post.user.icon, class: "share_img mx-3 me-4", alt: "..." %>
    <% end %>
  <% else %>
    <%= link_to user_path(@post.user) do %>
      <img class="share_img mx-3 me-4" src="/assets/icon.png" >
    <% end %>
  <% end %>
  <div>
    <span class="fw-bold fs-3 me-2"><%= @post.user.name %></span>
    <span>@<%= @post.user.username %></span>
    <p><%= @post.post_content %></p>
    <div class="d-flex justify-content-around home-icon">
      <i class="fa-regular fa-comment"></i>
      <i class="fa-solid fa-repeat"></i>
      <i class="fa-regular fa-heart"></i>
    </div>
  </div>
</div>
<%# コメント投稿フォーム %>
<div class="share-comment-box">
  <div class="shareWrapper">
    <div class="shareTop d-flex">
      <% if current_user.icon.attached? %>
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.icon, class: "share_img mx-3 me-4", alt: "..." %>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user) do %>
          <img class="share_img mx-3 me-4" src="/assets/icon.png" >
        <% end %>
      <% end %>
      <%= form_with model: [@post, @comment], url: post_comments_path(@post), method: :post  do |f| %>
        <%= f.text_area :comment_content, class: "shareInput", placeholder: '投稿したい内容を入力', rows: 3, cols: 80 %>
    </div>
    <div class="shareButtons share-comment">
      <div class="shareOptions">
        <div class="shareOption">
          <%= f.file_field :comment_img, class: 'form-control visually-hidden', accept: 'image/*', id: 'file-input-comment' %>
          <label for="file-input-comment" >
           <i class="fa-regular fa-image"></i>
          </label>
        </div>
        <div class="shareOption">
          <i class="fa-solid fa-gift"></i>
        </div>
        <div class="shareOption">
          <i class="fa-regular fa-face-smile"></i>
        </div>
      </div>
      <%= f.submit "コメント送信", class: "shareButton" %>
    </div>
    <% end %>
  </div>
</div>
<%# コメント部分 %>
<% @comments.reverse_each do |comment| %>
  <div class="d-flex border p-3">
    <img class="home_img mx-3 me-4" src="/assets/avater3.png" >
    <div>
      <span class="fw-bold fs-3 me-2"><%= comment.user.name %></span>
      <span>@<%= comment.user.username %></span>
      <p><%= comment.comment_content %></p>
      <% if comment.comment_img.attached? %>
        <%= image_tag comment.comment_img, class: "post_img" %>
      <% end %>
      <div class="d-flex justify-content-around home-icon">
        <i class="fa-regular fa-comment"></i>
        <i class="fa-solid fa-repeat"></i>
        <i class="fa-regular fa-heart"></i>
      </div>
    </div>
  </div>
<% end %>
