<div class="d-flex border p-3">
  <% if @post.user.icon.attached? %>
    <%= link_to user_path(@post.user) do %>
      <%= image_tag @post.user.icon, class: "share_img mx-3 me-4", alt: "..." %>
    <% end %>
  <% else %>
    <%= link_to user_path(@post.user) do %>
      <img class="share_img mx-3 me-4" src="/assets/icon.png" >
    <% end %>
  <% end %>
  <div>
    <span class="fw-bold fs-3 me-2"><%= @post.user.name %></span>
    <span>@<%= @post.user.username %></span>
    <p><%= @post.post_content %></p>
    <div class="d-flex justify-content-around home-icon">
      <i class="fa-regular fa-comment"></i>
      <i class="fa-solid fa-repeat"></i>
      <i class="fa-regular fa-heart"></i>
    </div>
  </div>
</div>
<%# コメント投稿フォーム %>
<div class="share-comment-box">
  <div class="shareWrapper">
    <div class="shareTop d-flex">
      <% if @user.icon.attached? %>
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.icon, class: "share_img mx-3 me-4", alt: "..." %>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user) do %>
          <img class="share_img mx-3 me-4" src="/assets/icon.png" >
        <% end %>
      <% end %>
      <input type="text" class="shareInput" placeholder="コメントを入力" />
    </div>
    <div class="shareButtons share-comment">
      <div class="shareOptions">
        <div class="shareOption">
          <i class="fa-regular fa-image"></i>
        </div>
        <div class="shareOption">
          <i class="fa-solid fa-gift"></i>
        </div>
        <div class="shareOption">
          <i class="fa-regular fa-face-smile"></i>
        </div>
      </div>
      <button class="shareButton">コメント送信</button>
    </div>
  </div>
</div>
<%# コメント部分 %>
<div class="d-flex border p-3">
  <img class="home_img mx-3 me-4" src="/assets/avater3.png" >
  <div>
    <span class="fw-bold fs-3 me-2">yamada</span>
    <span>@yamada01</span>
    <p>勉強になるな～</p>
    <div class="d-flex justify-content-around home-icon">
      <i class="fa-regular fa-comment"></i>
      <i class="fa-solid fa-repeat"></i>
      <i class="fa-regular fa-heart"></i>
    </div>
  </div>
</div>
<div class="d-flex border p-3">
  <img class="home_img mx-3 me-4" src="/assets/EC4.jpg" >
  <div>
    <span class="fw-bold fs-3 me-2">suzuki</span>
    <span>@suzuki01</span>
    <p>僕も入ってみたい！でも怖いなー</p>
    <div class="d-flex justify-content-around home-icon">
      <i class="fa-regular fa-comment"></i>
      <i class="fa-solid fa-repeat"></i>
      <i class="fa-regular fa-heart"></i>
    </div>
  </div>
</div>
