<!DOCTYPE html>
<html>
  <head>
    <title>Twitter clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/3e9b46a6cb.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
      <div class="ml-2">
        <%= link_to "Colorful SNS", root_path, class: "navbar-brand" %>
        <% if user_signed_in? && @user %>
          <span><strong class="strong-nav"><%= @user.email %></strong>がログインしています </span>
        <% end %>
      </div>

      <%# deviseを使っているから使えるヘルパー　user_signed_in? %>
      <ul class="navbar-nav d-flex flex-row">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link btn btn-primary text-white" %>
          </li>
        <% else %>
          <li class="nav-item ">
            <%= link_to 'ログイン', new_user_session_path, class: "nav-link btn btn-primary text-white" %>
          </li>
          <li class="nav-item ">
            <%= link_to '新規登録', new_user_registration_path, class: "nav-link btn btn-primary text-white" %>
          </li>
        <% end %>
      </ul>
    </nav>

   <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>

    <div class="link-flex">
      <%= link_to 'ホームへ', root_path, class: 'btncss' %>
      <%= link_to "http://localhost:3000/letter_opener" , "/letter_opener", class: 'btncss' %>
      <%= link_to "tweet詳細ページへ", tweet_show_path, class: 'btncss' %>
    </div>

    <%= yield %>
  </body>
</html>
