<!DOCTYPE html>
<html>
  <head>
    <title>Twitter clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/3e9b46a6cb.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
      <div class="ml-2">
        <%= link_to "Colorful SNS", root_path, class: "navbar-brand" %>
        <% if user_signed_in? && @user %>
          <span><strong class="strong-nav"><%= @user.email %></strong>がログイン | ID: <strong class="strong-nav"><%= @user.id %></strong></span>

        <% end %>
      </div>
      <%# deviseを使っているから使えるヘルパー　user_signed_in? %>
      <ul class="navbar-nav d-flex flex-row">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link btn btn-primary text-white" %>
          </li>
        <% else %>
          <li class="nav-item ">
            <%= link_to 'ログイン', new_user_session_path, class: "nav-link btn btn-primary text-white" %>
          </li>
          <li class="nav-item ">
            <%= link_to '新規登録', new_user_registration_path, class: "nav-link btn btn-primary text-white" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <div class="link-flex">
      <%= link_to "letter_openerへ" , "/letter_opener", class: 'btncss' %>
      <%= link_to "tweet詳細ページへ", tweet_show_path, class: 'btncss' %>
    </div>

    <% if user_signed_in? %>
    <div class="container">
      <div class="row">
        <%# サイドバー(sidebar) %>
        <div class="col-md-4 d-flex flex-column sidebar">
          <%= link_to '/', class: 'sidebar-link' do %>
            <i class="fa-brands fa-x-twitter"></i>
          <% end %>
          <%= link_to '/', class: 'sidebar-link' do %>
            <p class="item mt-4"><i class="fa-solid fa-house-chimney-window"></i><span>ホーム</span ></p>
          <% end %>
          <p class="item"><i class="fa-solid fa-magnifying-glass"></i><span class="h6">検索</span ></p>
          <p class="item"><i class="fa-regular fa-bell"></i><span class="h6">通知</span ></p>
          <%= link_to '/message', class: 'sidebar-link' do %>
            <p class="item"><i class="fa-regular
            fa-envelope"></i><span class="h6">ダイレクトメッセージ</span ></p>
          <% end %>
          <p class="item"><i class="fa-regular fa-bookmark"></i><span class="h6">ブックマーク</span ></p>
          <%= link_to profile_path(current_user), class: 'sidebar-link' do %>
            <p class="item"><i class="fa-solid fa-id-card"></i><span class="h6">プロフィール</span ></p>
          <% end %>
          <p class="item"><i class="fa-brands fa-usps"></i><span class="h6">投稿</span ></p>
          <div class="d-flex">

            <% if current_user.profile %>
              <%= image_tag current_user.profile.icon, class: "side_img me-3", alt: "..." %>
            <% else %>
              <img class="side_img me-3" src="/assets/icon.png" >
            <% end %>
            <div>
              <h4><%= @user.name %></h4>
              <% if @user.profile %>
                <p>@<%= @user.profile.username %></p>
              <% else %>
                <p>@default01</p>
              <% end%>
            </div>
          </div>
        </div>
 <%# col-md-4 sidebar %>
        <%# コンポーネント　col-md-8 main-area %>
        <div class="col-md-8 main-area">
          <%= yield %>
        </div>
      </div>
 <%# row %>
    </div>
 <%# container %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
